# Exclude dependencies and dev files
node_modules
webview-ui/node_modules
webview-ui/src
.vscode
.git
.gitignore
.vite
.cache
dist
**/*.map
**/.env*
**/*.ts
**/*.tsx

# Include only what’s needed
!out/**
!webview-ui/dist/**
!icon.png
!README.md
!CHANGELOG.md
